<div class="col-md-3 ad"> AD BITCHES</div>
<div class="image col-md-6 container">
    <!--<img src = "http://media.vocativ.com/photos/2015/04/Putin-Memes-0091985616383.jpg">-->
    <!--<img src = "http://images.pocketgamer.co.uk/FCKEditorFiles//Tiny-Wings-clone.jpg">-->
    <div class="image-title row"> TITLE </div>
    <img class="row" src="http://www-tc.pbs.org/wgbh/nova/next/wp-content/uploads/2015/02/generate-a-meme-large.jpg">
    <div class="image-rating row"> 9001 </div>
</div>
<div class="col-md-3 ad">ANOTHER AD BITCHES  buy mai shit nao</div>


<%= form_tag({controller: "memes", action: "create"}, method: "post") do %>
    <%= label_tag :name, "Name:" %>
    <%= text_field_tag :name %>
    <%= label_tag :description, "Description:" %>
    <%= text_field_tag :description %>
    <%= file_field_tag 'attachment' %>
    
    <%= submit_tag "Upload" %>
<% end %>